In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("aug_train.csv")

In [ ]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [4]:
df.columns.tolist()

['enrollee_id',
 'city',
 'city_development_index',
 'gender',
 'relevent_experience',
 'enrolled_university',
 'education_level',
 'major_discipline',
 'experience',
 'company_size',
 'company_type',
 'last_new_job',
 'training_hours',
 'target']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [6]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [7]:
df["target"].value_counts()

target
0.0    14381
1.0     4777
Name: count, dtype: int64

# Preprocesssing

In [8]:
from preprocessing import Preprocessing
pre_pross = Preprocessing(df)

In [9]:
df = pre_pross.preprocess()

/workspaces/employeeRetentionPredection/preprocessing.py:58: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df["last_new_job"]=self.df["last_new_job"].replace(i,j)
/workspaces/employeeRetentionPredection/preprocessing.py:69: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df["experience"]=self.df["experience"].replace(i,j)

In [10]:
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,0.525281,0.920000,0.511016,1,0.477886,0.586342,0.548767,21,1,0.681263,2,36,1.0
1,29725,0.309524,0.776000,0.511016,0,0.477886,0.586342,0.548767,15,4,0.410194,6,47,0.0
2,11561,0.857658,0.624000,0.509899,0,0.628494,0.586342,0.548767,5,1,0.681263,1,83,0.0
3,33241,0.500000,0.789000,0.509899,0,0.334177,0.586342,0.276276,0,1,0.410194,1,52,1.0
4,666,0.434783,0.767000,0.511016,1,0.477886,0.326386,0.548767,21,4,0.163265,5,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28757,21952,0.857658,0.652873,0.511016,1,0.477886,0.586342,0.548767,8,5,0.410194,4,17,1.0
28758,2198,0.857658,0.764499,0.511016,1,0.477886,0.586342,0.548767,14,4,0.410194,6,68,1.0
28759,28092,0.525281,0.920000,0.511016,1,0.477886,0.586342,0.548767,21,1,0.681263,2,101,1.0
28760,5555,0.857658,0.699495,0.509899,1,0.477886,0.326386,0.548767,6,1,0.410194,2,147,1.0
28761,14468,0.650350,0.586263,0.511016,1,0.477886,0.586342,0.548767,4,5,0.410194,2,35,1.0

In [11]:
df.isnull().sum()

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

In [12]:
df["target"].value_counts()

target
1.0    14381
0.0    14381
Name: count, dtype: int64

# Base Model Evaulation

In [13]:
from baseModelScore import evaluate_models
metrics_df = evaluate_models(df)

In [14]:
metrics_df

,Model,Accuracy_Train,Precision_Train,Recall_Train,F1_Score_Train,AUC_ROC_Train,Accuracy_Test,Precision_Test,Recall_Test,F1_Score_Test,AUC_ROC_Test
0,LogisticRegression,0.829545,0.829591,0.829545,0.829539,0.876523,0.825830,0.826024,0.825830,0.825805,0.875605
1,RandomForestClassifier,1.000000,1.000000,1.000000,1.000000,1.000000,0.853294,0.853315,0.853294,0.853292,0.923100
2,XGBoost,0.911513,0.911519,0.911513,0.911513,0.974415,0.854511,0.854530,0.854511,0.854509,0.922679
3,LightGBM,0.874397,0.874495,0.874397,0.874389,0.949096,0.852946,0.853220,0.852946,0.852918,0.924469